ASPNETCORE_ENVIRONMENT=Development
ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=access_flow_db;Username=postgres;Password=postgres
Vps__BaseUrl=http://example
Vps__ApiToken=change-me
Vps__InboundRemark=main